* {
    box-sizing: border-box;
}
html {
    

    
    height: 100%;
    
    
}

.landing-page p {
    line-height: 1.6;
    font-size: 2.5em;

    
}
body {
    background: url("https://i.ibb.co/gTCR4Fn/texture-990104-1920.jpg");
    

    
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    padding-top: 400px;
    width: 500px;
    margin-left: auto;
  margin-right: auto;
    
    color: white;
    
}
.start-button {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
/*.turn-back {
    display: none;
    font-size: 20px;
    color: white;
 
}*/



.statistics { 
    position: relative;
    top: 70px;
    right: 70px;
    float: right;
}

.question-number, .user-score {
    font-size: 20px;
}

.questions-answers {
    padding: 70px;
    text-align: left;
    position: relative;
    left: 500px; 
    
}
.main-header {
    text-align: center;
}


fieldset {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 20px;
  }

  .raven-button {
      font-size: 20px;
  }